@model WebApplication2.Models.UserDTO
@{
    ViewData["Title"] = "Delete";
}

@using (Html.BeginForm("Delete", "Home", null, FormMethod.Post, false, new { enctype = "multipart/form-data" }))
{

    <div style="display:block;">

        @Html.HiddenFor(s => s.Id)

        @Html.LabelFor(s => s.Name, "Name")
        @Html.DisplayFor(s => s.Name)
        @Html.HiddenFor(s => s.Name)

        @Html.LabelFor(s => s.Email, "Email")
        @Html.DisplayFor(s => s.Email)
        @Html.HiddenFor(s => s.Email)

        @Html.LabelFor(s => s.Gender, "Gender")
        @Html.DisplayFor(s => s.Gender)
        @Html.HiddenFor(s => s.Gender)

        @Html.LabelFor(s => s.Status, "Status")
        @Html.DisplayFor(s => s.Status)
        @Html.HiddenFor(s => s.Status)

        <input class="btn btn-danger" type="submit" value="Delete" />
        @Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-secondary"})
    </div>


}